form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  height: auto;
  padding: 30px;
  max-width: auto;
  border: 1px solid black;
  border-radius: 5%;
}

input {
  background-color: #fafbfc;
  border: 1px solid #1b1f2326;
  border-radius: 4px;
  box-shadow:
    0 1px 0 #1b1f230a,
    inset 0 1px 0 #ffffff40;
  box-sizing: border-box;
  color: #24292e;
  flex: 1 1;
  font-size: 16px;
  height: 30px;
  padding: 10px;
  width: 400px;
}

.SignUpButton {
  margin: 10px;
}
