nav {
  background-color: black;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.auth-links {
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
}

.pagelinks {
  display: flex;
  align-items: center;
}

header {
  height: 70px;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: white;
}

.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}
