main {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #fff6eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth {
  display: flex;
  justify-content: space-between;
}

.button-to-map {
  display: flex;
  background-color: #9e0b0f;
  color: white;
  border: 1px solid black;
}

.news-section {
  min-height: 100dvh;
  display: flex;
  margin: 0;
}

.handleDropdown {
  margin: 5px;
}

.filter-button {
  margin: 5px;
}

.noNews-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;

  background-color: black;
  color: white;

  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}
